
* {
  margin: 0;

}
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #ECF2FF;
}

.counter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;

  width: 50%;
  height: 300px;

  border-radius: 32px;
  box-shadow: 5px 30px 60px 0px rgba(43, 74, 159, 0.15);
}

.timer {
  display: flex;
  align-items: center;
  flex:1;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  flex: 1;
}

h1 {
  font-size: 80px;
}